[submodule "SuperResPM/diffrax"]
	path = SuperResPM/diffrax
	url = https://github.com/chto/diffrax.git
	branch = SuperResPM
[submodule "SuperResPM/JaxPM"]
	path = SuperResPM/JaxPM
	url = https://github.com/chto/JaxPM.git
	branch = SuperResPM
[submodule "SuperResPM/jax_cosmo"]
	path = SuperResPM/jax_cosmo
	url = https://github.com/chto/jax_cosmo.git
	branch = SuperResPM
[submodule "SuperResPM/numpyro"]
	path = SuperResPM/numpyro
	url = https://github.com/chto/numpyro.git
	branch = SuperResPM
[submodule "SuperResPM/blackjax"]
	path = SuperResPM/blackjax
	url = https://github.com/blackjax-devs/blackjax.git
