[submodule "SuperResPM/diffrax"]
	path = SuperResPM/diffrax
	url = https://github.com/chto/diffrax.git
	branch = AbstractReversibleSolver
[submodule "SuperResPM/JaxPM"]
	path = SuperResPM/JaxPM
	url = https://github.com/chto/JaxPM.git
	branch = fastpm
